body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}

section{
    background: rgb(117, 204, 238);
    display: flex;
    justify-content: center;
}

.col{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 15px;
}

.com{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
