
  .table-scroll {
    position: sticky;
    top: 0;
    width: 500px;
  }
  
table{
    border-collapse: collapse;
}
tr:nth-child(2n+1){
    background: rgba(205, 214, 219, 0.3)
}
 th{
    background: blueviolet;
    width: 50px;
    text-align: left;
    font-size: 12px;
}