
<section>
    <div id="left">
    <header>
<p>Номер карты:</p>
<input type="text" placeholder="xxxx xxxx xxxx xxxx">
</header>

<main>
    <p>Скрок действия:</p>
    <input type="text" placeholder="01\20" id="smoll"> 
</main>
<footer>
    <p>ФИО владельца карты:</p>
    <input type="text" placeholder="Комарницкий Илья Викторовичь"> 
</footer>
</div>

<div id="right">
<div id="black-line">
</div>
<div id="cvc">
<p>CVC/CVV</p>
<input type="text" placeholder="123" id="smoll"> 
</div>
</div>
</section>