body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0 250px;
}

.header{ 
    background: rgb(211, 211, 211);
    padding: 15px 0;
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin-bottom: 0;
}
.header img{
    height: 50px;

    
}
hr{
    margin: 0;
}

.a{
    margin-right: 15%;
   display: flex;
  
}
.b{
    display: flex;
    margin-left: 15%;
}
.a p{
    margin-right: 10px;
}

.b p{
    margin-left: 10px;
}

.main{
    margin-top: 0;
    background: rgb(211, 211, 211);
    display: flex;
    justify-content: space-between;
   width: 1000px;
  height: 400px;
}

.yach{
    display: flex;
    align-items: center;
    padding: 5px;
    

}

.yach img{
    height: 40px;
}
.yach:hover{
background-color: rgb(224, 51, 187,0.2);
}

.com{
    display: flex;
    align-items: center;
    
    
}
.com:hover{
    background-color: rgba(122, 122, 122, 0.2);
}
.VM{
margin-left: 15%;

}
.content{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    flex-grow: 1;
    margin-left: 10px;
}


.com img{
  height: 15px; 
  
}

.main span{
    opacity: 70%;
    margin: 0 20px;
    margin-left: 10px;
}
.aa{
    margin-left: 90px;
}
.me{
    margin-left: 15px;
}
.apr{
    margin-left: 5px;
}
.h{
    width: 1000px;
 }
 .slova{
     display: flex;
     align-items: center;
 }

@media (max-width:800px)  {
    .header{
        width: 800px;
    }
    .main{
        width: 800px;
        height: 100%;
    }
    .h{
        width: 800px;
     }
     .slova{
         flex-direction: column;
         justify-content: flex-start;
         align-items:flex-start ;
         line-height: 10px;
         
     }
     .aa{
         margin-left: 15px;
     }
   
}

@media (max-width:551px)  {
    
    .header{
        width: 550px;
    }
    .main{
        width: 550px;
        height: 100%;
    }
    .h{
        width: 550px;
     }
     .slova{
         flex-direction: column;
         justify-content: flex-start;
         align-items:flex-start ;
         line-height: 10px;
         
     }
     .aa{
         margin-left: 15px;
     }
     .yach p{
       display: none;
     }
     
}
